<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robotiq_hand">
  <xacro:include filename="ur5_robotiq-3f-gripper_finger_articulated_macro.xacro"/>

  <xacro:robotiq_hand prefix="${prefix}finger_1_"/>
  <xacro:robotiq_hand prefix="${prefix}finger_2_"/>
  <xacro:robotiq_hand prefix="${prefix}finger_middle_"/>

</robot>
