<?xml version="1.0" ?>

<launch>

  <arg name="gripper_name" default="SModelRobot" />
  <arg name="gripper_action_name" default="gripper_action" />
  <arg name="gripper_mode" default="basic" />

  <node name="robotiq_s_model_action_server" pkg="robotiq_s_model_action_server" 
    type="robotiq_s_model_action_server_node" output="screen">
    <param name="gripper_name" type="str" value="$(arg gripper_action_name)" />
    <param name="gripper_mode" type="str" value="$(arg gripper_mode)" />

    <remap from="input" to="$(arg gripper_name)Input" />
    <remap from="output" to="$(arg gripper_name)Output" />
  </node>

</launch>
